[submodule "ESLib"]
	path = ESLib
	url = git@github.com:SolarTeamEindhoven/STE15-ESLib.git
[submodule "Sensors"]
	path = Sensors
	url = git@github.com:SolarTeamEindhoven/STE15-Sensors.git
[submodule "Actuators"]
	path = Actuators
	url = git@github.com:SolarTeamEindhoven/STE15-Actuators.git
[submodule "mbed-src"]
	path = mbed-src
	url = git@github.com:SolarTeamEindhoven/STE15-mbed.git
[submodule "mbed-rtos"]
	path = mbed-rtos
	url = git@github.com:SolarTeamEindhoven/STE15-rtos.git
[submodule "LPC1768_DMA"]
	path = LPC1768_DMA
	url = git@github.com:SolarTeamEindhoven/STE15-DMA.git
[submodule "ste15-csv2cpp"]
	path = ste15-csv2cpp
	url = git@github.com:SolarTeamEindhoven/STE15-CSV2CPP.git
[submodule "mbed-fs"]
	path = mbed-fs
	url = git@github.com:SolarTeamEindhoven/STE15-FileSystem.git
