[submodule "LPC1768_DMA"]
	path = LPC1768_DMA
	url = gitifyhg::https://developer.mbed.org/users/steniu01/code/LPC1768_DMA/
[submodule "mbed-src"]
	path = mbed-src
	url = gitifyhg::https://developer.mbed.org/users/mbed_official/code/mbed-src/
[submodule "mbed-rtos"]
	path = mbed-rtos
	url = gitifyhg::https://developer.mbed.org/users/mbed_official/code/mbed-rtos/
[submodule "FatFileSystem"]
	path = FatFileSystem
	url = git@bitbucket.org:solarteameindhoven/fatfilesystem.git
